.ui-sortable-helper {
    display: table !important;
}

.teste-ok {
    background: #8fda9a;
}

.teste-nok {
    background: #e08080;
}

.teste-nao-testado {
    background: #fdde79;
}

.teste-nok select.form-control, .teste-ok select.form-control, .teste-nao-testado select.form-control {
    font-weight: 600;
}

.teste .form-control {
    background: none;
    outline: 0;
    border: none;
    outline: 0;
    box-shadow: none;
    padding: 0.375rem 0;
}

.teste select.form-control option {
    color: black;
}

.rtu-table p {
    margin-bottom: 0;
}

.txt-descricao {
    resize: none;
    height: 100px;
}