@using Lndr.MdsOnline.Models.Enum
@Styles.Render("~/Content/Paginas/RTU.css")

<div ng-controller="RTUController">

    <h1>Roteiro de Testes Unitários</h1>

    <div class="table-responsive px-5">
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th style="max-width: 82px;">Sequencia</th>
                    <th>Condição/Situação</th>
                    <th>Dados de Entrada</th>
                    <th>Resultado Esperado</th>
                    <th>Verificação</th>
                    <th>Como Testar</th>
                    <th>Observacoes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="sortable">
                <tr ng-repeat="teste in testes">
                    <td><textarea medium-editor data-placeholder="..." ng-model="teste.Sequencia"></textarea></td>
                    <td><textarea medium-editor data-placeholder="..." ng-model="teste.Condicao"></textarea></td>
                    <td><textarea medium-editor data-placeholder="..." ng-model="teste.DadosEntrada"></textarea></td>
                    <td><textarea medium-editor data-placeholder="..." ng-model="teste.ResultadoEsperado"></textarea></td>
                    <td class="teste" ng-class="obterClasseCelulaVerificacao(teste.Verificacao)">
                        @Html.DropDownList("Verificacao",
                            EnumHelper.GetSelectList(typeof(StatusTesteUnitarioEnum)),
                            new { @ng_model = "teste.Verificacao", @class = "form-control" })
                    </td>
                    <td><textarea medium-editor data-placeholder="..." ng-model="teste.ComoTestar"></textarea></td>
                    <td><textarea medium-editor data-placeholder="..." ng-model="teste.Observacoes"></textarea></td>
                    <td>
                        <a class="sortable-handle" href="javascript:void(0)"><i class="fa fa-sort"></i></a>
                        <a ng-click="removerTesteUnitario(teste)" href="javascript:void(0)"><i class="fa fa-close"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary" type="button" ng-click="adicionarNovoTesteUnitario()">Adicionar Teste Unitário</button>

</div>
