

<div>

    <table>
        <thead>
            <tr>
                <th>Sequencia</th>
                <th>Condição/Situação</th>
                <th>Dados de Entrada</th>
                <th>Resultado Esperado</th>
                <th>Status</th>
                <th>Como Testar</th>
                <th>Observacoes</th>
            </tr>
        </thead>
    </table>

</div>
