
@using Lndr.MdsOnline.Web.Models.Enum
@Styles.Render("~/Content/Paginas/RTU.css")

<div ng-controller="AdminCheckListController" class="p-lg-5 p-md-2 p-sm-1">

    @Html.Hidden("checklistId", ViewData["checklistId"])

    <div class="table-responsive">

        <table class="table table-bordered table-striped rtu-table table-sm" ng-repeat="grupo in checklist.GruposItens track by $index">
            <thead>
                <tr>
                    <td colspan="1">
                        <textarea medium-editor data-placeholder="Nome do Grupo #{{$index + 1}} (Editável)" bind-options="{ disableEditing: !edicaoHabilitada }" class="mousetrap" ng-model="grupo.Nome"></textarea>
                    </td>
                    <td colspan="4">
                        <textarea medium-editor data-placeholder="Descrição (Editável)" bind-options="{ disableEditing: !edicaoHabilitada }" class="mousetrap" ng-model="grupo.Descricao"></textarea>
                    </td>
                </tr>
                <tr>
                    <th style="width: 40%">Item</th>
                    <th style="width: 40%">Descrição</th>
                    <th>Sim</th>
                    <th>Não</th>
                    <th>Não Aplicável</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in grupo.Itens track by $index">
                    <td class="align-middle"><textarea medium-editor data-placeholder="..." bind-options="{ disableEditing: !edicaoHabilitada }" class="mousetrap" ng-model="item.Nome"></textarea></td>
                    <td class="align-middle"><textarea medium-editor data-placeholder="..." bind-options="{ disableEditing: !edicaoHabilitada }" class="mousetrap" ng-model="item.Descricao"></textarea></td>
                    <td>
                        <div class="custom-control custom-radio">
                            <input id="check_sim_{{$index}}" name="check_{{$index}}" type="radio" class="custom-control-input">
                            <label class="custom-control-label" for="check_sim_{{$index}}"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-radio">
                            <input id="check_nao_{{$index}}" name="check_{{$index}}" type="radio" class="custom-control-input" checked="checked">
                            <label class="custom-control-label" for="check_nao_{{$index}}"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-radio">
                            <input id="check_na_{{$index}}" name="check_{{$index}}" type="radio" class="custom-control-input">
                            <label class="custom-control-label" for="check_na_{{$index}}"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <button class="btn btn-primary pull-right" type="button" ng-click="adicionarNovoItem(grupo)"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar Item</button>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

    @* BOTOES (Editar, Salvar, Cancelar, Adicionar)*@
    <div class="row">
        <div class="col-md-6 py-1">
            <button class="btn btn-secondary" type="button" ng-click="habilitarDesabilitarEdicao()" ng-if="!edicaoHabilitada" title="Editar testes"> Editar</button>
            <button class="btn btn-secondary" type="button" ng-click="habilitarDesabilitarEdicao()" ng-if="edicaoHabilitada" title="Cancelar alterações"> Cancelar</button>
            @*<button class="btn btn-success" type="button" ng-click="salvarRTF()" ng-if="edicaoHabilitada" title="Salvar Alterações (CTRL + S)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>*@
        </div>
        <div class="col-md-6 py-1" ng-if="edicaoHabilitada">
            <button class="btn btn-primary pull-right" type="button" ng-click="adicionarNovoGrupo()"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar Grupo</button>
            
        </div>
    </div>

</div>