<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MdsOnlineDbContext" connectionString="data source=LNDR-PC\LNDR_PC;initial catalog=BDMdsOnline;integrated security=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>